.success{
    color:green;
    background: lightgreen;
    padding:5px;
    height:auto;
    width:100%;
    font-size: 18px;
    text-align: center;
    border:2px solid black;
    border-radius: 5px;
}
.error{
    color:red;
    font-size: 18px;
    background: lightcoral;
    text-align: center;
    padding:5px;
    height:auto;
    width:100%;
    border:2px solid black;
    border-radius: 5px;
}