.success{
    color:yellowgreen;
    background-color:violet ;
    padding: 5px;
    height: auto;
    width: 100%;
    border: 2px solid black;
    border-radius: 2px;
}
.error{
    color:tomato ;
    background-color:springgreen ;
    padding: 5px;
    height: auto;
    width: 100%;
    border: 2px solid grey;
    border-radius: 2px;
}